@import "tailwindcss/preflight";

/* fonts */
@font-face {
    font-family: 'Fasdeco';
    src: url('../../public/fonts/Fasdeco.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afante';
    src: url('../../public/fonts/Afante.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A';
    src: url('../../public/fonts/Royalford.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'B';
    src: url('../../public/fonts/Askilon.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@tailwind utilities;

html, body {
    min-height: 100vh;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices */
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory; /* Enables scroll snapping; prevent the scrollimg from stopping halfway */
    scroll-behavior: smooth; /* Makes scrolling smooth */
}

/* Scrolling effect */

.sticky-section {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-y: auto; /* Enables vertical scrolling within each section; allow scrolling down the content fully before the main page scrolls to the next section. */
    scroll-snap-align: start; /* Each section will snap to the start of the viewport when scrolling */

}

/* Hide the internal scrollbar, while still allowing the scroll functionality */
.sticky-section::-webkit-scrollbar {
    display: none;
}
.sticky-section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Background for each section */
.section-background {
    --spot-x: 20%;
    --spot-y: 10%;
    background: radial-gradient(circle 70rem at var(--spot-x) var(--spot-y), rgb(220, 200, 200), rgba(37,4,4,1)), rgba(37,4,4,1);
}


#home.section-background {
    --spot-x: 20%;
    --spot-y: 10%;
}

#projects.section-background {
    --spot-x: 80%;
    --spot-y: 70%;
}

#about.section-background {
    --spot-x: 60%;
    --spot-y: 20%;
}

#contacts.section-background {
    --spot-x: 30%;
    --spot-y: 40%;
}


/* Nav Styling */
.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-links > li {
    display: inline-block;
    margin-right: 2rem;
    margin-left: 0;
}

.navbar-links > li:last-child {
    margin-right: 0;
}

.navbar-links a {
    display: inline-block;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#navbar-bg {
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(10px) saturate(140%);
    backdrop-filter: blur(10px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 0;
}

#navbar-bg .navbar-links a {
    font-size: 2rem;
}


/* Main Page Styling */
#header-main {
    font-size: 10rem;
    margin-left: 5rem;
}

#main-text {
    font-size: 2.2rem;
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

#main-text.active {
    transform: translateX(0);
    opacity: 1;
}

#badgesteing {
    margin-bottom: -160px;
    transform: translateX( -15px);
    font-size: 1.3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: min-content; /* Shrink width to fit text */
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translateX(calc(-50% - 15px));
    top: -266px;
    letter-spacing: 0.1em;
    color: black;
}

.badge-anim {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%; /* hides the empty space at the top of the video file*/
}

@keyframes fallDown {
    0% {
        transform: translateY(-120vh) rotate(0deg);
        animation-timing-function: ease-in;
    }
    45% {
        transform: translateY(9vh) rotate(-4deg);
        animation-timing-function: ease-out;
    }

    70% {
        transform: translateY(-12vh) rotate(3deg);
        animation-timing-function: ease-in;
    }

    85% {
        transform: translateY(9vh) rotate(-2deg);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(5vh)rotate(2deg);
        animation-timing-function: ease-in;
    }

    98% {
        transform: translateY(9vh) rotate(-1deg);
    }

    100% {
        transform: translateY(9vh) rotate(0deg);
    }
}

.animation { /* Connects the class to the keyframes */
    animation: fallDown 1.7s ease-out forwards;
    transform-origin: top center; /* makes it swing from the top of the string instead of not the center of the card */
}


/* Projects Page Styling */

.projects-header {
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

/* Carousel animation boxes */

.sliderContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* allow taller cards to expand naturally */
    overflow: visible;
    --w: min(23vw, 18rem);
    --ratio: 1 / 1;
    --dur: 0.6s; /*  transition duration */
    --ease: cubic-bezier(0.2, 0.6, 0.35, 1); /* easing function */
    padding-bottom: 4.7rem;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s; /* Smooth hover effect */
    padding: 2rem;
}

.btn:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.1); /* Slightly enlarge on hover */
}

.btn svg {
    width: 3rem;
    height: 3rem;
}

.prev { left: 5%; }
.next { right: 5%; }


.stack {
    display: grid;
    place-items: center; /* Center items */
    width: var(--w); /* Width of the cards - responsive */
    aspect-ratio: var(--ratio); /* keeps container square */
    perspective: 50rem;
}

.stack > * { /* argets every direct child of the .stack element */
    grid-area: 1 / -1; /* all children overlap */
    width: 100%;
    height: 100%;
    pointer-events: none; /* prevents clicks on stacked items */
    transition: all var(--dur) var(--ease); /*  animate any animatable property that changes; transition-duration: var(--dur)-how long the animation lasts; transition-timing-function: var(--ease) - easing curve sition-delay */
}


.card {
    border-radius: 0.1rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    transform: translateX(0) scale(1);
    aspect-ratio: 1 / 1;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop to fill without distortion */
    position: absolute;
}

.card Link { /* make the link fill the entire card */
    display: block;
    width: 100%;
    height: 100%;
}

.info {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.2rem;
    transform: translateZ(2rem);
}

.info h1 {
    font-size: 2.3rem;
    line-height: 1;
    color: #fff;
    font-family: 'B', sans-serif;
}

.info h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #eee;
    font-family: 'Fasdeco', sans-serif;
}


.info > * { /* targets every direct child of the .info element */
    transform: translateY(100%); /* moves each child down by 100% of its own height, so they start positioned off the visible area */
    opacity: 0;
    transition: all var(--dur) var(--ease);
}

/* States */
/* show + enable interactions + stacking for center item  */
.card[data-state="center"] {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}

.info[data-state="center"] {
    opacity: 1;
    z-index: 5; /* ensure info is above next/prev cards */
    pointer-events: none; /* makes it invisible for clicking */
}

.info[data-state="center"] > * {
    transform: translateY(0) ;
    opacity: 1;
    transform-delay: 0.1s;
}

.card[data-state="center"] {
    transform: scale(1.2);
    filter: brightness(1);
}

.info[data-state="center"] > * { /* reveal .info children by sliding/fading them in */
    transform: translateY(0); /* move to original position */
    opacity: 1;
    transition-delay: 0.1s;
}

/* Next */

/*  minimal: visibility + stacking for next/prev */
.card[data-state="next"], .info[data-state="next"] {
    opacity: 1;
    z-index: 1;
}

/* position/rotation (required for the sliding/3D effect) */
.card[data-state="next"] {
    transform: translateX(110%) rotateY(-45deg);
    filter: brightness(0.5);
}

.info[data-state="next"] {
    transform: translateX(110%) rotateY(-45deg) translateZ(2rem);
}

/* Prev */
.card[data-state="prev"], .info[data-state="prev"] {
    opacity: 1;
    z-index: 1;
}

.card[data-state="prev"] {
    transform: translateX(-110%) rotateY(45deg);
    filter: brightness(0.5);
}

.info[data-state="prev"] {
    transform: translateX(-110%) rotateY(45deg) translateZ(2rem);
}
