@import "tailwindcss/preflight";

/* fonts */
@font-face {
    font-family: 'Fasdeco';
    src: url('../../public/fonts/Fasdeco.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afante';
    src: url('../../public/fonts/NimbusRomNo9L-Reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@tailwind utilities;

html, body {
    min-height: 100vh;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS devices */
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory; /* Enables scroll snapping; prevent the scrollimg from stopping halfway */
    scroll-behavior: smooth; /* Makes scrolling smooth */
}

/* Scrolling effect */

main {
    scroll-snap-type: y mandatory; /* turns entire document into a scroll snapping container */
}
.sticky-section {
    min-height: 100vh; /* each section takes full viewport height, while allowing it to grow bigger if needed */
    width: 100%;
    scroll-snap-align: start; /* each section snaps to the start -top of the viewport */
}

.sticky-section::-webkit-scrollbar { /* hides scrollbar for Webkit browsers */
    display: initial;
}

.sticky-section {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Background for each section */
.section-background {
    --spot-x: 20%;
    --spot-y: 10%;
    background: radial-gradient(circle 70rem at var(--spot-x) var(--spot-y), rgb(220, 200, 200), rgba(37,4,4,1)), rgba(37,4,4,1);
}

#projects.section-background {
    --spot-x: 80%;
    --spot-y: 70%;
}

#about.section-background {
    --spot-x: 60%;
    --spot-y: 20%;
    font-size: 10rem;
}

#contacts.section-background {
    --spot-x: 30%;
    --spot-y: 40%;
}


/* Nav Styling */
.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    user-select: none;
}

.navbar-links > li {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 0;
}

.navbar-links > li:last-child {
    margin-right: 0;
}

.navbar-links a {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#navbar-bg {
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(10px) saturate(140%);
    backdrop-filter: blur(10px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 0;
}

#navbar-bg .navbar-links a {
    font-size: 2rem;
}

 /*Main page background */

.background-container {
    position: fixed;
    top: 0; /* forces starting at the top */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* ensures background stays behind content */
    overflow: hidden; /* hides any overflow from the circles */
    background-color: #a38a8a;
}

.circle {
    position: absolute; /* allows circles to be positioned anywhere within the bg-container/ forces them to overlap */
    opacity: 0.7;
    filter: blur(80px);
    border-radius: 50%;
    animation: float 20s infinite ease-in-out alternate; /* infinite- makes them loop forever; alternate- go from start to end then end to start */
    mix-blend-mode: hard-light;
}

.circle-1 {
    width: 50vw;
    height: 50vw;
    top: -5%;
    left: -15%;
    background-color: rgba(37, 4, 4, 0.92);
    animation-duration: 22s; /* overrides the default 10s duration */
}

.circle-2 {
    width: 40vw;
    height: 40vw;
    bottom: 0;
    right: 0;
   background-color: rgba(57, 7, 28, 0.85);   /*250404EA   39071CD8*/
    animation-duration: 25s;
    animation-delay: -2s; /* starts 2 seconds earlier */
}

.circle-3 {
    width: 30vw;
    height: 30vw;
    top: 30%;
    left: 20%;
    background-color: rgba(163, 138, 138, 0.94);
    animation-duration: 18s;
    animation-delay: -8s;
}
.circle-4 {
    top: 10%;
    right: 20%;
    width: 35vw;
    height: 35vw;
    background: #d8a5a5;
    animation-duration: 28s;
    animation-delay: -15s;
}


@keyframes float {
    0% { transform: translate(0, 0) scale(1); }
    25% { transform: translate(-100px, 30px) scale(1.2); }
    50% { transform: translate(200px, 150px) scale(0.7); }
    75% { transform: translate(-150px, -150px) scale(1.1); }
    100% { transform: translate(0, 0) scale(1); }
}

.noise-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-repeat: repeat;
    /*option 1 */
    background-image: url("/static/6566733.jpg");
    opacity: 0.08;
    /*background-image: url("/static/noisy.png"); option 2 */
    /*opacity: 1;*/
    mix-blend-mode: overlay;
    pointer-events: none;
}

/* Main Page Styling */
#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-text {
    display: flex;
    flex-direction: row;
    color: black;
    line-height: 0.9;
    font-size: 10rem;
    position: relative;
   /* transform: translateX(-100%);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease; - not used for now*/
    font-family: 'Fasdeco', sans-serif;
    user-select: none;
}

#sub-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    margin-top: 1rem;
    user-select: none;
}
#im-line {

    margin-left: -61vw;
    line-height: 0.9;
    margin-top: 15vw;
    margin-bottom: 0;
    padding: 0;

}

#badge-unit {
    margin-left: -24.5vw;
    z-index: 20;
    margin-top: -6rem;
    width: 35vw;
    height: 45vh;
    user-select: none;
}

#badgestring {
    margin-bottom: -160px;
    font-size: 2.6rem;
    width: min-content;
    position: absolute;
    z-index: 50;
    transform: translateX(calc(-50% - 15px)) rotate(90deg);
    left: 50%;
    top: -63px;
    letter-spacing: 0.01em;
    font-family: 'Fasdeco', serif;
    transform-origin: center;
    color: black;
}

.badge-anim {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%; /* hides the empty space at the top of the video file*/
}

@keyframes fallDown {
    0% {
        transform: translateY(-120vh) rotate(0deg);
        animation-timing-function: ease-in;
    }
    45% {
        transform: translateY(9vh) rotate(-4deg);
        animation-timing-function: ease-out;
    }

    70% {
        transform: translateY(-12vh) rotate(3deg);
        animation-timing-function: ease-in;
    }

    85% {
        transform: translateY(9vh) rotate(-2deg);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(5vh)rotate(2deg);
        animation-timing-function: ease-in;
    }

    98% {
        transform: translateY(9vh) rotate(-1deg);
    }

    100% {
        transform: translateY(9vh) rotate(0deg);
    }
}

.animation { /* Connects the class to the keyframes */
    animation: fallDown 1.7s ease-out forwards;
    transform-origin: top center; /* makes it swing from the top of the string instead of not the center of the card */
}


/* Projects Page Styling */

.projects-header {
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

/* Carousel animation boxes */

.sliderContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* allow taller cards to expand naturally */
    overflow: visible;
    --w: min(23vw, 18rem);
    --ratio: 1 / 1;
    --dur: 0.6s; /*  transition duration */
    --ease: cubic-bezier(0.2, 0.6, 0.35, 1); /* easing function */
    padding-bottom: 4.7rem;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer;
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s, transform 0.3s; /* Smooth hover effect */
    padding: 2rem;
}

.btn:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.1); /* Slightly enlarge on hover */
}

.btn svg {
    width: 3rem;
    height: 3rem;
}

.prev { left: 5%; }
.next { right: 5%; }


.stack {
    display: grid;
    place-items: center; /* Center items */
    width: var(--w); /* Width of the cards - responsive */
    aspect-ratio: var(--ratio); /* keeps container square */
    perspective: 50rem;
}

.stack > * { /* argets every direct child of the .stack element */
    grid-area: 1 / -1; /* all children overlap */
    width: 100%;
    height: 100%;
    pointer-events: none; /* prevents clicks on stacked items */
    transition: all var(--dur) var(--ease); /*  animate any animatable property that changes; transition-duration: var(--dur)-how long the animation lasts; transition-timing-function: var(--ease) - easing curve sition-delay */
}


.card {
    border-radius: 0.1rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    transform: translateX(0) scale(1);
    aspect-ratio: 1 / 1;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop to fill without distortion */
    position: absolute;
}

.card a {
    display: block;
    width: 100%;
    height: 100%;
}

.info {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.2rem;
    transform: translateZ(2rem);
}

.info h1 {
    font-size: 2.3rem;
    line-height: 1;
    color: #fff;
    font-family: 'B', sans-serif;
}

.info h2 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #eee;
    font-family: 'Fasdeco', sans-serif;
}


.info > * { /* targets every direct child of the .info element */
    transform: translateY(100%); /* moves each child down by 100% of its own height, so they start positioned off the visible area */
    opacity: 0;
    transition: all var(--dur) var(--ease);
}

/* States */
/* show + enable interactions + stacking for center item  */
.card[data-state="center"] {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}

.info[data-state="center"] {
    opacity: 1;
    z-index: 5; /* ensure info is above next/prev cards */
    pointer-events: none; /* makes it invisible for clicking */
}

.info[data-state="center"] > * {
    transform: translateY(0) ;
    opacity: 1;
    transition-delay: 0.1s;
}

.card[data-state="center"] {
    transform: scale(1.2);
    filter: brightness(1);
}

.info[data-state="center"] > * { /* reveal .info children by sliding/fading them in */
    transform: translateY(0); /* move to original position */
    opacity: 1;
    transition-delay: 0.1s;
}

/* Next */

/*  minimal: visibility + stacking for next/prev */
.card[data-state="next"], .info[data-state="next"] {
    opacity: 1;
    z-index: 1;
}

/* position/rotation (required for the sliding/3D effect) */
.card[data-state="next"] {
    transform: translateX(110%) rotateY(-45deg);
    filter: brightness(0.5);
}

.info[data-state="next"] {
    transform: translateX(110%) rotateY(-45deg) translateZ(2rem);
}

/* Prev */
.card[data-state="prev"], .info[data-state="prev"] {
    opacity: 1;
    z-index: 1;
}

.card[data-state="prev"] {
    transform: translateX(-110%) rotateY(45deg);
    filter: brightness(0.5);
}

.info[data-state="prev"] {
    transform: translateX(-110%) rotateY(45deg) translateZ(2rem);
}



/* Contacts Page Styling */
#contacts-header {
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;

}

.contacts-info {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    margin-top: -9rem;
}


.mycont-container,
.contme-form {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.mycont-strings, .contme-strings {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    align-items: flex-end;
}

.mycont-string1, .mycont-string2,
.contme-string1, .contme-string2 {
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: right;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.card-content-box {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    margin-top: -15px;
    position: relative;
    z-index: 5;
}

.mycont-icon {
    width: 50px;
    height: 50px;
}


.contme-form label {
    display: block;
    font-family: 'Afante', serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: black;
}

.contme-form input,
.contme-form textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 0;
    font-family: 'Afante', sans-serif;
    font-size: 1.2rem;
    color: black;
    outline: none;
}

.contme-form input:focus,
.contme-form textarea:focus {
    border-bottom: 2px solid white;
}

.contme-form button {
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
    background: black;
    color: white;
    font-family: 'Fasdeco', serif;
    font-size: 1.5rem;
    border-radius: 9999px;
    cursor: pointer;
}

.contme-form button:hover {
    transform: translateY(-6px) scale(1.04);
}

.mycont-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.mycont-text {
    font-family: 'Afante', sans-serif;
    font-size: 1.4rem;
}

.mycont-string1,
.contme-string2 {
    height: 300px;
    padding-bottom: 22px;
}

.mycont-string2,
.contme-string1 {
    height: 200px;
    padding-bottom: 13px;
}

@keyframes hangingShake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.mycont-container:hover{
    animation: hangingShake 0.6s ease-in-out infinite;
    transform-origin: top center;

}
.contme-form:hover  {
    cursor: pointer;
}