@import "tailwindcss/preflight";
 /* Importing custom fonts */
@font-face {
    font-family: 'Fasdeco';
    src: url('../../public/fonts/Fasdeco.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Afante';
    src: url('../../public/fonts/Afante.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@tailwind utilities;
 /* might use later
 background: radial-gradient(circle 70rem at 20% 10%, rgba(255,255,255,0.04), rgba(37,4,4,1));
    background-blend-mode: overlay;

*/

html, body {

    min-height: 100vh;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    -webkit-overflow-scrolling: touch;
}

/* Scrolling effect */

/* Makes the container stick to the top of the viewport until pushed out */
.sticky-section {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Background for each section */
.section-background {
    background: radial-gradient(circle 70rem at 20% 10%, rgba(255,255,255,0.04), rgba(37,4,4,1));
    background-blend-mode: overlay;
    transition: background 0.5s ease;
}


#home.section-bg { background: radial-gradient(circle 70rem at 20% 10%, rgba(255,255,255,0.04), rgba(37,4,4,1));
}
#projects.section-bg { background: radial-gradient(circle 70rem at 20% 10%, rgba(255,255,255,0.04), rgba(37,4,4,1));
}
#about.section-bg { background: radial-gradient(circle 70rem at 20% 10%, rgba(255,255,255,0.04), rgba(37,4,4,1));
}
#contacts.section-bg {background: radial-gradient(circle 70rem at 20% 10%, rgba(255,255,255,0.04), rgba(37,4,4,1));
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-links > li {
  display: inline-block;
  margin-right: 2rem;
  margin-left: 0;
}

.navbar-links > li:last-child {
  margin-right: 0;
}

.navbar-links a {
  display: inline-block;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#navbar-bg {
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(10px) saturate(140%);
    backdrop-filter: blur(10px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.08);

}


#navbar-bg .navbar-links a {
    font-size: 2.5rem;

}
/* Main Page Styling */
#header-main {
    font-size: 12.4rem;
    margin-left: 5rem;
}

#main-text {
    font-size: 2.7rem;
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

#main-text.active {
    transform: translateX(0);
    opacity: 1;


}